body {
    width: 55em;
    margin: 0 auto;
    font-family: Courier New, courier;
    background: #000800;
    color: #04ff04;
}

h1 {
    text-align: left;
    font-size: 1em;
    color: black;
    background: green;
    padding: 0 10px;
}

h1 a { color: black; }

h2 {
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    padding: 0 10px;
}

p {
    padding: 0 15px;
    text-indent: 2em;
}

ol {
    margin-left: 25px;
}

ol.indented {
    margin-left: 100px;
}

a {
    color: lightgreen;
    font-weight: bold;
}

.footer {
    font-size: smaller;
    font-style: italic;
}

.heady {
    margin-left: 20px;
    width: 95%;
}

.langs {
    margin-left: 20px;
}

tr:nth-child(odd) {
    background: green;
    color: black;
}

td {
    padding: 0 15px;
}

td.lang {
    font-weight: bold;
}

p.longtext {
    width:80%;
    margin-left:40px;
}

ul.sublist {
    margin-left: 100px;
    width: 70%;
}

